/* ______________

RESET

__________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-unstyled {
    margin: 0;
}

/* ______________

COLOR

__________________*/

:root {
    --ms-primary:  #f8f9fa ;
    --ms-secondary: #1b72e8;
    --ms-tertiary: #0d253b;
}

/* ______________

VARIABLES

__________________*/

:root {
    --ms-h-nav: 3.125rem;
}

/* ______________

TYPO

__________________*/

body>* {
    font-family: 'Roboto', sans-serif;
}