/* ______________

COMMON

__________________*/

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--ms-primary);
}



/* ______________

HEADER

__________________*/

header  {
    background-color: var(--ms-primary);
}

header nav {
    height: var(--ms-h-nav);
}

header nav a {
    
    text-decoration: none;
    color: inherit;
}

/* ______________

ASIDE  NAV

__________________*/

main aside {
    background-color: var(--ms-tertiary);
    color: var(--ms-primary);
    font-size: 1.25rem;
}

main aside i {
    width: 1.875rem;
}

main aside a {

    text-decoration: none;
    color: inherit;
}
/* ______________

MAIN

__________________*/

main {
    height: calc(100% - var(--ms-h-nav) - 1rem );
}

main section:first-child {
    background-color: var(--ms-secondary);
    color: white;
}

main section:first-child span {
    margin:0.25rem;   
}

main .card .table img {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 0.25rem;
}

