/* ______________

COMMON

__________________*/

body {
    min-height: 100vh;
    min-width: 100vw;
}

/* ______________

HEADER

__________________*/

header  {
    height: var(--ms-h-header,4.375rem);
    background-color: var(--ms-primary);
}

header nav img:first-child {
    max-width: 3.125rem;
}

/* ______________

MAIN

__________________*/


/* ______________

ASIDE

__________________*/

