/* ______________

COMMON

__________________*/

body {
    min-height: 100vh;
    min-width: 100vw;
}

/* ______________

HEADER

__________________*/

header  {
    min-height: var(--ms-h-header,4.375rem);
    background-color: var(--ms-primary);
}

header nav {
    height: 50px;
}

/* ______________

MAIN

__________________*/


/* ______________

ASIDE

__________________*/

